aiofiles==23.2.1
fastapi==0.110.0
fastjsonschema==2.17.1
google-generativeai==0.5.4
huggingface-hub==0.23.1
langchain
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-text-splitters
langchainhub
nest-asyncio==1.6.0
openai==1.30.2
pillow==10.3.0
pinecone-client==3.1.0
protobuf==4.25.3
pydantic==2.6.4
pydantic_core==2.16.3
PyMuPDF==1.24.4
PyMuPDFb==1.24.3
pypdf==4.1.0
requests==2.31.0
sentence-transformers==2.7.0
starlette==0.36.3
tokenizers==0.19.1
tqdm==4.66.2
transformers==4.41.1
uvicorn==0.29.0
